
<div id="coordinateBackground" class="coordinate-background">
    <div id="coordinateMenuContainer" style="display:none">
        <div id="coordinateMenu"></div>
        
    </div>
    <div id="coordinateInfoMenu" class="coordinate-info-menu jimu-float-leading jimu-align-leading">
        <div class="jimu-float-leading coordinate-locate-container" id="locateContainer">
        <div id="locateButton" class="coordinate-locate jimu-float-leading" tabindex="0" role="button"></div>
        </div>
        <div id="coordinateInfo" class="coordinate-info jimu-float-leading jimu-align-leading">
        loading...
        </div>
    </div>
    <div class="jimu-float-trailing coordinate-foldable-container" id="foldContainer">
        <div class="coordinate-foldable jimu-float-trailing" id="foldableNode" tabindex="0" role="button"></div>
    </div>
</div>
